/* General */

.container {
  width: 1500px;
}

span1{
    display: block;
}



.header {
  background-color: rgba(255, 255, 255, 0.95);
  
  background: url('http://buidln.clipdealer.com/000/906/341//previews/7--906341-Binary%20code%20-%20Background%20animation.jpg') ;
  background-size: 1200px;
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 15px;
}



.header .menu {
  text-align: center;
  list-style: none;
  margin-top: 15px;
}

.menu li {
    font-size: 25px;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
   margin-left: 10px;
}

.menu a {
  color:  #363636;
}

.menu .active-li{
    font-size: 40px;
    font-weight:bold;
}


/* Carousel */

.slider {
  position: fixed;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid #ddd;
}
#new{
    float: right;
    margin-left: 70px;
    text-align: center;
}
.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.slide-edu{
    background:  url("http://previews.123rf.com/images/OlgaDrozdova/OlgaDrozdova1112/olgadrozdova111200016/11545955-Gentle-blue-christmas-pale-background-with-chaotic-translucent-stars-and-balls-vector-EPS10--Stock-Vector.jpg") center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.slide-copy h2 {
  color: yellow;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 5px;
  margin-top: 30px;
}

.slide-copy li{
    font-size: 15px;
}

.slide-copy img{
    width: 150px;
    height: 130px;
}

.slide-copy .img1{
    margin-left: 28px;
}

.slide-copy .img2{
    margin-left: -25px;
}

.slide-copy .img3{
    margin-top: 0px;
    margin-left: 50px;
}

.slide-copy .img4{
    margin-top: 0px;
     margin-left: -5px;
}

.slide .favourite-projects h3{
    float: left;
    margin-left: 30px;
    
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 30px;
}


.slide-img img{
    margin-top: 30px;
  width: 300px;
    height: 400px;
    text-align: center;
}

/* Slide feature */

.slide-feature {
  text-align: center;
 background: transparent url('http://www.pixeden.com/media/k2/galleries/165/004-subtle-light-pattern-background-texture-vol5.jpg') center center no-repeat;
 background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-feature ul{
    margin-top: 20px;
    list-style: none;
    font-weight: 400;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slide-feature h1{
    color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 0px;
}


.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}



/* App links */

.contact {
    margin-top: 100px;
    margin-left: 190px;
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
  text-align: center;
}

.contact li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 115px;
  
}

.contact img {
    margin-top: -60px;
  height: 50px;
  width: 50px;
}

.contact .phone{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-top: -50px;
}
